<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Acrobat Update Helper</string>
	<key>EULAAcceptedEntry</key>
	<true/>
	<key>Language</key>
	<string>MUL</string>
	<key>ManifestFileURL</key>
	<dict>
		<key>URL</key>
		<string>ARMDC/ARMDCHelperManifest.xml</string>
		<key>httpsURLBase</key>
		<string>https://armmf.adobe.com/arm-manifests/mac</string>
	</dict>
	<key>ProductExistsPath</key>
	<array>
		<string>/Library/Application Support/Adobe/ARMDC/Application/Acrobat Update Helper.app/Contents/MacOS/Acrobat Update Helper</string>
		<string>File</string>
	</array>
	<key>ProductRoot</key>
	<string>/Library/Application Support/Adobe/ARMDC/Application/Acrobat Update Helper.app</string>
	<key>UpdateCycle</key>
	<integer>4320</integer>
	<key>UpdateMode</key>
	<integer>0</integer>
	<key>Version</key>
	<array>
		<string>/Library/Application Support/Adobe/ARMDC/Application/Acrobat Update Helper.app/Contents/Info.plist</string>
	</array>
	<key>VersionFileURL</key>
	<dict>
		<key>URL</key>
		<string>ARMDC/current_version.txt</string>
		<key>httpsURLBase</key>
		<string>https://armmf.adobe.com/arm-manifests/mac</string>
	</dict>
</dict>
</plist>
